$text-color: #A2ABB2;
$background-color: #3B4954;

.header {
  height: 7vh;
  background-color: $background-color;
  color: $text-color;

  .logo-wrapper {
    .homepage-link {
      color: $text-color;
      transition: 100ms color ease-out;

      &:hover {
        color: darken($text-color, 10%);
      }

      .logo-icon {
        font-size: 1.8rem;
      }
    }
  }

  .shop-name-wrapper {}

  .notification {
    font-size: 1.2rem;
  }

  .user-wrapper {}
}

.text {
  margin-bottom: 0;
}