.sidebar-wrapper {
  background-color: #e5eaed;
  height: 93vh;

  color: #506264;
  
  .fas {
    font-size: 1.2rem;
  }

  .icon-home {
    >.fas {
      color: #ae5bb5;
    }
  }

  .icon-sell {
    >.fas {
      color: #559c74;
    }
  }

  .icon-sales-ledger {
    >.fas {
      color: #57bde3;
    }
  }

  .icon-reporting {
    >.fas {
      color: #e3b67d;
    }
  }

  .icon-products {
    >.fas {
      color: #f37d6f;
    }
  }

  .icon-customers {
    >.fas {
      color: #aa39af;
    }
  }

  .icon-setup {
    >.fas {
      color: #4f5e7b;
    }
  }
}
